.App-header {
  display: flex;
  align-items: center;
  border-bottom: var(--primary-color) 3px solid;
}

.App-header img {
  height: 300px;
}
.App-header h1 {
  color: var(--primary-color);
  font-family: var(--h1-font);
  font-size: 2.5rem;
  letter-spacing: 1px;
}
