.App-footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: var(--primary-color) 3px solid;
  font-family: var(--h1-font);
  justify-content: center;
  font-style: italic;
}

.App-footer p {
  margin-top: 10px;
}