html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}


:root {
  --h1-font: montserrat, sans-serif;
  --primary-color: #e1003c;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: var(--primary-color) 3px solid;
}

.App-header img {
  height: 300px;
}
.App-header h1 {
  color: var(--primary-color);
  font-family: var(--h1-font);
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.App-body p{
  margin: 40px 20px;
}

.App-footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: var(--primary-color) 3px solid;
  font-family: var(--h1-font);
  justify-content: center;
  font-style: italic;
}

.App-footer p {
  margin-top: 10px;
}
