.notification-title {
    width: fit-content;
    position: fixed;
    top: 0;
    right: 20px;
}

.notification-items {
    border: 3px dotted red;
    padding: 10px 20px;
    position: fixed;
    width: 25%;
    right: 20px;
    top: 30px;
}

.notification-items img {
    width: 10px;
}

.notification-items ul {
    margin-top: 15px;
    margin-left: 25px;
}
