:root {
  --h1-font: montserrat, sans-serif;
  --primary-color: #e1003c;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: var(--primary-color) 3px solid;
}

.App-header img {
  height: 200px;
  margin: 10px;
}
.App-header h1 {
  color: var(--primary-color);
  font-family: var(--h1-font);
}

.App-body {
  margin: 10px;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: var(--primary-color) 3px solid;
  text-align: center;
  font-family: var(--h1-font);
}
